* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

header{
    text-align: center;
}

body{
    max-width: 1300px;
    margin: 0 auto;
    font-family: 'PT Sans Caption', sans-serif;
}

h1{
    color: #e53170;
    font-weight: 600;
    font-weight: 900;
    margin: 30px;
    font-family: 'Fredoka One', cursive;
}
p{
    margin-bottom: 30px;
}

.container{
    margin: 0 auto;
    display: table;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
}
.clearfix::after{
    clear: both;
}
.box{
    background-color: black;
    width: 390px;
    height: 100px;
    margin: 20px;
}
.left{
    float: left;
}
.right{
    float: right;
}

.pic{
    display: inline-block;
    float: left;
    max-width: 100px;
    max-height: 100px;
    clear: both;
}
h3{
    color: white;
    display: inline-block;
    margin-left: 20px;
}
h4{
    color: red;
    display: inline-block;
    margin-right: 150px;
}