* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

header{
    text-align: center;
}

body{
    max-width: 1300px;
    margin: 0 auto;
    font-family: 'PT Sans Caption', sans-serif;
}

h1{
    color: #e53170;
    font-weight: 600;
    font-weight: 900;
    margin: 30px;
    font-family: 'Fredoka One', cursive;
}
p{
    margin-bottom: 30px;
}

.container{
    margin: 0 auto;
    overflow: hidden;
}
.clearfix::after{
  content: "";
  clear: both;
  display: table;
}
.box{
    background-color: black;
    width: calc(100% / 3 - 60);
    margin: 20px;
}
.left{
    float: left;
}
.right{
    float: right;
}

.pic{
    display: inline-block;
    float: left;
    max-width: 100px;
    max-height: 100px;
    clear: both;
}

.inner-box{
    float: right;
    padding-right: 100px;
}
h3{
    color: white;
    margin-left: 20px;
}
h4{
    color: white;
    margin-left: 20px;
}
.mail{
    color: cyan;
    
}