* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

header{
    text-align: center;
}

body{
    max-width: 1300px;
    margin: 0 auto;
    font-family: 'PT Sans Caption', sans-serif;
}

h1{
    color: #e53170;
    font-weight: 600;
    font-weight: 900;
    margin: 30px;
    font-family: 'Fredoka One', cursive;
}
p{
    margin-bottom: 30px;
}

.container{
    width: calc(100% / 3);
}
.box{
    background-color: black;
    width: 350px;
    height: 90px;
    border-color: aqua;
}
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}
.fleft{
    float: left;
}
.fright{
    float: right;
}